@import url('./colors.css');

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.vertical-divisor {
    border-left: 1px solid;
    border-left-color: var(--divisor-color);
    margin: 10px 5px;
}

.icon-attribute {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon-attribute .icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-attribute .text {
    margin-left: 5px;
}

.attribute-with-time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin: 15px 0px;
}

.attribute-with-time .attribute-head {
    display: flex;
    flex-direction: column;
    max-width: 75%;
}

.attribute-with-time .attribute-head .attribute-title {
    font-weight: 700;
}

.attribute-with-time .attribute-head .attribute-subtitle {
    font-weight: 400;
    font-size: 11pt;
    color: rgb(134, 134, 134);
}

.attribute-with-time .attribute-time {
    display: flex;
    align-items: center;
    justify-content: center;
}

.attribute-with-time .attribute-time text {
    white-space: nowrap;
    margin-left: 15px;
}

/* */

.attribute-with-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 15px 0px;
}

.attribute-with-content .attribute-head {
    display: flex;
    flex-direction: column;
    max-width: 80%;
}

.attribute-with-content .attribute-head .attribute-title-href {
    text-decoration: none;
    color: black;
}

.attribute-with-content .attribute-head .attribute-title {
    font-weight: 700;
}

.attribute-with-content .attribute-head .attribute-subtitle {
    font-weight: 400;
    font-size: 11pt;
    color: rgb(134, 134, 134);
}

.attribute-with-content .attribute-content {
    display: flex;
    flex-direction: column;
    color: #505050;
}

/* */

.attribute-with-image {
    display: flex;
    align-items: center;
}

.attribute-with-image > .attribute-image {
    width: 70px;
    border-radius: 5px;
}

.attribute-with-image > .attribute-content {
    flex: 1;
    margin-left: 20px;
}

/* */

.timelined-attributes-with-image {
    display: flex;
    align-items: start;
}

.timelined-attributes-with-image > .attribute-image {
    width: 70px;
    border-radius: 5px;
    margin-top: 15px;
}

.timelined-attributes-with-image > .attribute-content {
    flex: 1;
    margin-left: 45px;
    position: relative;
}

.timelined-attributes-with-image > .attribute-content > .attribute-with-time > .attribute-head > .attribute-list-items {
    color: var(--primary-color);
    font-size: 10.5pt; 
}

.timelined-attributes-with-image > .attribute-content > .attribute-with-time > .attribute-head > .attribute-list-items > ul {
    list-style-type: square;
    color: #505050;
}

.timelined-attributes-with-image > .attribute-content > .attribute-with-time > .attribute-head > .attribute-list-items > ul > li:not(:last-child) {
    margin-bottom: 8px;
}

.timelined-attributes-with-image > .attribute-content > .attribute-with-time > .attribute-head > .attribute-list-items > ul > li::marker {
    color: #000100;
}

.timelined-attributes-with-image > .attribute-content > .attribute-with-time {
    position: relative;
}

.timelined-attributes-with-image > .attribute-content > .attribute-with-time:not(:last-child)::before {
    content: "";
    width: 7px;
    background-color: rgb(236, 236, 236);
    position: absolute;
    height: calc(100% + 1px);
    left: -22px;
    top: 19px;
}

.timelined-attributes-with-image > .attribute-content > .attribute-with-time > .attribute-head > .attribute-title {
    display: flex;
    align-items: center;
}

.timelined-attributes-with-image > .attribute-content > .attribute-with-time > .attribute-head > .attribute-title::before {
    content: "";
    display: inline-block;
    background-color: var(--primary-color);
    border: 5px rgb(236, 236, 236) solid;
    border-radius: 2px;
    width: 7px;
    height: 7px;
    margin-left: -27px;
    margin-right: 7px;
    z-index: 10;
}

.timelined-attributes-with-image > .attribute-content > .attribute-with-time:not(:first-child) > .attribute-head > .attribute-title::before {
    background-color: rgb(48 56 70 / 35%);
}

/* */

.skill-bar {
    display: flex;
    flex-direction: column;
    padding: 5px 0px;
}

.skill-bar .skill-bar-head {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.skill-bar .skill-bar-icon {
    margin-right: 8px;
    display: flex;
    align-items: center;
}

.skill-bar .skill-name {
    font-size: 12pt;
    font-weight: 400;
    margin-bottom: -5px;
    padding: 10px 0;
}

.progress-bar {
    display: flex;
    justify-content: start;
    background-color: rgb(223, 223, 223);
    height: 6px;
}

.progress-bar .progress {
    background-color: var(--primary-color);
    transition: width 1s ease;
}

.attributes-heap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bullet-list {
    list-style-type: none;
    padding: 0;
}

.bullet-list li {
    display: flex;
    flex-direction: row;
    padding: 5px 0px;
    font-size: 10pt;
    font-weight: 400;
}


.bullet-list li::before {
    content: "■";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: var(--primary-color); /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    /* margin-left: -1em; Also needed for space (tweak if needed) */
    margin-right: 3px;
}

@keyframes Blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 100%;
    }

    100% {
        opacity: 0;
    }
}


@keyframes SubtleRotation {
    0% {
        rotate: 0deg;
    }

    25% {
        rotate: 4deg;
    }

    50% {
        rotate: 0deg;
    }

    75% {
        rotate: -4deg;
    }

    100% {
        rotate: 0deg;
    }
}

@keyframes SubtleFluctuation {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0, -7px);
    }

    100% {
        transform: translate(0, 0);
    }
}