.c-header {
    display: grid;
    grid-template-columns: fit-content(25%) 25% 25% 25%;
    grid-template-rows: 5% 20% 25% 25% 20% 5%;
    column-gap: 20px;
    width: 100%;
    height: 200px;
    background-color: var(--primary-color);
}

.c-header-photo {
    grid-column: 1;
    grid-row: 1 / span 6;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.c-header-photo img {
    height: 100%;
}

.c-header-name {
    grid-column: 2 / span 3;
    grid-row: 3 / span 1;
    font-size: 30pt;
    font-weight: bold;
    color: whitesmoke;
}

.blinker {
    animation: Blink 1s ease-in-out infinite;
}

.c-header-title {
    grid-column: 2 / span 3;
    grid-row: 4 / span 1;
    font-size: 15pt;
    font-weight: 400;
    color: #979ba2;
    margin-top: -5px;
}

.c-header-info {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
}

.c-header-info-attributes {
    grid-column: 2 / span 3;
    grid-row: 5 / span 1;
    display: flex;
    flex-direction: row;
}

.c-header-info-attributes > * {
    margin-right: 30px;
    margin-top: 10px;
}

@media (max-width: 800px) {
    .c-header {
        width: 100vw;
        column-gap: 0px;
        grid-template-columns: 5% 20% 25% 25% 20% 5%;
        grid-template-rows: 5% 10% 5% 50% 30% 0%;
        align-items: center;
        height: 300px;
        background: linear-gradient(135deg,#414d63, #303846);
    }

    .c-header-info-attributes {
        grid-column: 2 / span 4;
        display: flex;
        flex-direction: column;
        height: 80%;
        justify-content: space-evenly;
        /* padding-bottom: 10px; */
    }

    .c-header-info-attributes > * {
        margin-right: 0px;
        margin-top: 0px;
    }

    .c-header-name {
        grid-column: 2 / span 4;
        grid-row: 2 / span 1;
        font-size: 16pt;
        text-align: center;
        /* margin-left: 1em; */
    }

    .c-header-title {
        font-size: small;
        font-weight: 300;
        grid-column: 2 / span 4;
        grid-row: 3 / span 1;
        text-align: center;
    }

    .c-header-photo {
        grid-column: 2 / span 4;
        grid-row: 4 / span 1;
        height: 80%;
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .c-header-photo img {
        border-radius: 9999999999px;
    }

}